.navbar{
background:$colorfondo;
@include flexcenter;
}


.h1{ 
color: $colorletras;
font-family: $fonts-h1;
}   

.cards {
background: $colorcards;
@include fboxmodel(10px,20px,2px solid black);
}

body{       
background: $colorfondo;
}

.portada1{
 @include flexcenter;
}

h2{
color: $colorletras;        
font-family: $fonts-h1;
}