h1{ 
color: $colorletras;
font-family: $fonts-h1;
text-align: center;
align-items: center;
}   

.encabezado{
@include flexcenter;
flex-direction: column;
background: $colorfondo;
align-content: center;
}

.cards {
background-color: $colorfondocards;
@include boxmodel(10px,20px,2px solid black);
}

body{       
background: $colorfondo;
}

.portada1{
 @include flexcenter;

}

.portada1 img{
 width: 200px;

}

h2{
color: $colorletras;        
font-family: $fonts-h1;
}

.encabezado{
display: flex;
background: $colorfondo;
align-content: center;
}

.indexgrid{ 
margin: 10px;
padding: 10px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;

}

.indexgrid  img{ 
width: 200px;
height: 200px;
margin: 10px;
}

 
.tituloPrincipal{ 
color: rgb(63, 47, 2); 
text-align: center;
font-size: 40px;
margin: 20px;
}


.card1{
width: 500px;
border: 2px solid black;
text-align: center;
margin: 10px;
background-color: $colorfondocards;
padding: 10px;
box-shadow: 5px 2px 2px 2px rgba(140, 139, 135, 0.944);
}


.card2{ 
width: 500px;
border: 2px solid black;
text-align: center;
margin: 10px;
background-color: $colorfondocard2;
padding: 10px;
box-shadow: 5px 2px 2px 2px rgba(140, 139, 135, 0.944);
}

.cardsindexpadre{
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: center;
}

.cardsindexpadre img{
   width: 80%;
   height: auto;
}

.cardindextitulo2{
font-size: 40px;
color: rgb(63, 47, 2);
text-align: center;
margin: 20px;
padding: 20px;
}

.cardindex{
border: 2px solid black;    
text-align: center;
padding: 20px;
margin: 10px;

}

.cardindex1{
border: 2px solid black;    
text-align: center;
padding: 20px;
margin: 10px;
$colorfondocards: #b9a684 ;
}

.cardindex2{
border: 2px solid black;    
text-align: center;
padding: 20px;
margin: 10px;
}

.cardindex3{
border: 2px solid black;    
text-align: center;
padding: 20px;
margin: 10px;
}

.cardindex4{
border: 2px solid black;    
text-align: center;
padding: 20px;
margin: 10px;
}


.padrefooter {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  }

.iconosredes {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 20px;
}

.textofooter {
  color: $colorletras;
  font-size: 20px;
  text-align :center;
}



button {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  background: $colorletras;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease;
  margin: 3px ;
  &:hover {
    background: $colorfondo;
    color: black; 
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }

  &:active {
    transform: translateY(0) scale(1);
    box-shadow: none;
  }
}