.infotitle{ 
text-align: center;
margin: 20px;
font-size: 25px;
}

.listacompras2{ 
list-style: inside;
text-align: center;
margin: 20px;
@include flexcenter;
flex-direction: column;
}

.mapaslomasdezamora{
@include flexcenter;
flex-direction: column;
margin: 20px;
}   
