// Colors 
$colorfondo: #e0d1b8;
$colorletras: rgb(63, 47, 2);
$colorcards: #ce9b23;

$fonts-h1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fboxmodel ($margen, $padding, $borde) {
  margin: $margen;
  padding: $padding;
  border: $borde;
}

