// Colors 
$colorfondo: white;
$colorfondocards: #c0af93;
$colorfondocard2: #978e6a;
$colorletras: rgb(63, 47, 2);

$fonts-h1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boxmodel ($margen, $padding, $borde) {
  margin: $margen;
  padding: $padding;
  border: $borde;
}

//redes sociales

$colores: ( marron, beige, brown, black, white, yellow, green, blue, purple, pink);
    
 @each $color in $colores{
    .#{$color}{
        background-color:#{$color};
    }
}
$map_redes:(
    whatsapp: #33ec1a,
    instagram:#bb0e0e,
    mail: #000000
);

@each $red, $color in $map_redes {
  .#{$red} {
    color: $color;
  }
}


@mixin glass($blur: 10px, $opacity: 0.15, $border-opacity: 0.3) {
  background: rgba(255, 255, 255, $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  border: 1px solid rgba(255, 255, 255, $border-opacity);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}