// Colors 
$colorfondo: #e0d1b8;
$colorletras: rgb(63, 47, 2);
$colorcards: #ce9b23;

$fonts-h1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boxmodel ($margen, $padding, $borde) {
  margin: $margen;
  padding: $padding;
  border: $borde;
}

//redes sociales

$colores: ( marron, beige, brown, black, white, yellow, green, blue, purple, pink);
    
 @each $color in $colores{
    .#{$color}{
        background-color:#{$color};
    }
}
$map_redes:(
    whatsapp: #33ec1a,
    instagram:#bb0e0e,
    mail: #000000
);

@each $red, $color in $map_redes {
  .#{$red} {
    color: $color;
  }
}
